<div class="modal fade" id="mytab1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:#f5f5f5;width:585px;">
      <div class="modal-header" style="padding-left:60px;padding-bottom:30px;padding-top:30px;">
        <button type="button" class="popup-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="filter-info">You can filter the use cases with domain here.</h6>
        <ul class="nav nav-pills nav-tabs" id="myTab1">
          <li><a href="#all_2" data-toggle="tab" class="tabs-dec">All</a></li>
          <li><a href="#market_research_2" data-toggle="tab" class="tabs-dec">Market Research</a></li>
          <li><a href="#finance_2" data-toggle="tab" class="tabs-dec">Finance</a></li>
          <li><a href="#media_2" data-toggle="tab" class="tabs-dec">Media</a></li>
        </ul>
        <div class="tab-content" style="padding-top:30px;">
          <div class="tab-pane active tab-data" id="all_2">
            <div class="brd-btm">
              <h3><a href="#">E-commerce product feeds and price comparison</a></h3>
              <p><strong>Client:</strong> Data Analytics and Business research Shop for E-commerce and Retail</p>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong> E-commerce</p>
              <p><strong>Challenge:</strong> With their expertise in analytics and research, the client was looking to include a data layer into its current setup that would allow continuous free flowing feeds free of "noise" so that the team could only focus on interesting approaches to analytics.<a href="#">read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Travel product feeds and price comparison</a></h3>
              <p><strong>Client:</strong> Data Analytics and Business research Shop for E-commerce and Retail</p>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong> Travel</p>
              <p><strong>Challenge:</strong> With their expertise in analytics and research, the client was looking to include a data layer into its current setup that would allow continuous free flowing feeds free of "noise" so that the team could only focus on interesting approaches to analytics.<a href="#">read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Real estate listings across the country</a></h3>
              <p><strong>Client:</strong> An online portal connecting B2B marketplaces</p>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong> Travel</p>
              <p><strong>Challenge:</strong> The client wanted information about restaurants in the largest metropolitan areas in the United States catering in a particular price range.<a href="#">read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Product pricing and reviews from customer sites</a></h3>
              <p><strong>Client:</strong> A leading furniture manufacturing company</p>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong> E-commerce</p>
              <p><strong>Challenge:</strong> The client wanted continuous updates on its products’ prices, and reviews on them as available on its customer ecommerce websites.<a href="#">read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Geographically-Sparse Feeds Aggregation</a></h3>
              <p><strong>Client:</strong>  Social media intelligence house</p>
              <p><strong>Offering: </strong>Mass Scale Crawls</p>
              <p><strong>Domain:</strong> Market research</p>
              <p><strong>Challenge:</strong> The Client was looking to get news feeds and social media data scattered in various geographic locations coming from more than 5000 sources. They wanted this data to be deliverable in a structured collated format which they can simply import every week.<a href="#">read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Financial data in near-real time</a></h3>
              <p><strong>Client:</strong> Financial research company signalling investment options</p><br/>
              <p><strong>Offering: </strong>Mass Scale Crawls </p>
              <p><strong>Domain:</strong> Finance</p><br/>
              <p><strong>Challenge:</strong> The client wanted to blend market and social data in order to build a financial recommendation engine that could deliver proprietary signals for systematic equity investing.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Continuous news feeds in near real-time</a></h3>
              <p><strong>Client:</strong> A media house with editorial strength</p><br/>
              <p><strong>Offering: </strong>Mass Scale Crawls </p>
              <p><strong>Domain:</strong>  Media</p><br/>
              <p><strong>Challenge:</strong>  The client was a media company targeting a vast set of audience who like to read about everyday things ranging from politics, sports, celebrities, and the like.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm">
              <h3><a href="#">Celebrity gossips from around the web</a></h3>
              <p><strong>Client:</strong> An entertainment publisher focused on Hollywood celebrities with sites across countries</p><br/>
              <p><strong>Offering: </strong>Hosted Indexing </p>
              <p><strong>Domain:</strong> Media</p><br/>
              <p><strong>Challenge:</strong> The client was into curating content from the web about celebrity likes, dislikes or what they otherwise do via their interviews, articles, blogs or Tweets.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm" style="padding-bootom:20px;">
              <h3><a href="#">Classified ads of old vehicles in Mexico</a></h3>
              <p><strong>Client:</strong> A search engine for classified ads of vehicles</p><br/>
              <p><strong>Offering: </strong> Hosted Indexing </p>
              <p><strong>Domain:</strong> Classified</p><br/>
              <p><strong>Challenge:</strong> The client had about 10 classified sites in their country that they crawled and were looking to expand their base to a few hundred websites in other geographies too.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm" style="padding-bootom:20px;">
              <h3><a href="#">Twitter data for a set of keywords</a></h3>
              <p><strong>Client:</strong> A social listening platform for enterprises</p><br/>
              <p><strong>Offering: </strong> Hosted Indexing  </p>
              <p><strong>Domain:</strong> Market Research</p><br/>
              <p><strong>Challenge:</strong> The client wished to use its social media intelligence platform to run analyses on specific Tweets.<a href="#"> read more</a></p>
            </div>
          </div>
          <div class="tab-pane tab-data" id="market_research_2">
            <div class="brd-btm">
              <h3><a href="#">Travel product feeds and price comparison</a></h3>
              <p><strong>Client:</strong> Data Analytics and Business research Shop for E-commerce and Retail</p><br/>
              <p><strong>Offering: </strong>Site-specific crawl and extraction </p>
              <p><strong>Domain:</strong> Travel</p><br/>
              <p><strong>Challenge:</strong> With their expertise in analytics and research, the client was looking to include a data layer into its current setup that would allow continuous free flowing feeds free of "noise" so that the team could only focus on interesting approaches to analytics.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm" style="padding-bootom:20px;">
              <h3><a href="#">Restaurant and Menu Information</a></h3>
              <p><strong>Client:</strong> A popular bakery shop in Hawaii</p><br/>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong>Travel</p><br/>
              <p><strong>Challenge:</strong> The client wanted information about restaurants in the largest metropolitan areas in the United States catering in a particular price range.<a href="#"> read more</a></p>
            </div>
          </div>
          <div class="tab-pane tab-data" id="finance_2">
            <div class="brd-btm">
              <h3><a href="#">E-commerce product feeds and price comparison</a></h3>
              <p><strong>Client:</strong>Data Analytics and Business research Shop for E-commerce and Retail</p><br/>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong>E-Commerce</p><br/>
              <p><strong>Challenge:</strong> With their expertise in analytics and research, the client was looking to include a data layer into its current setup that would allow continuous free flowing feeds free of "noise" so that the team could only focus on interesting approaches to analytics.<a href="#"> read more</a></p>
            </div>
            <div class="brd-btm" style="padding-bootom:20px;">
              <h3><a href="#">Product pricing and reviews from customer sites</a></h3>
              <p><strong>Client:</strong> A leading furniture manufacturing company</p><br/>
              <p><strong>Offering: </strong>Site-specific crawl and extraction </p>
              <p><strong>Domain:</strong> E-commerce</p><br/>
              <p><strong>Challenge:</strong>The client wanted continuous updates on its products’ prices, and reviews on them as available on its customer ecommerce websites.<a href="#"> read more</a></p>
            </div>
          </div>
          <div class="tab-pane tab-data" id="media_2">
            <div class="brd-btm">
              <h3><a href="#">Real estate listings across the country</a></h3>
              <p><strong>Client:</strong> An online portal connecting B2B marketplaces</p><br/>
              <p><strong>Offering: </strong>Site-specific crawl and extraction</p>
              <p><strong>Domain:</strong> Real Estate</p><br/>
              <p><strong>Challenge:</strong> The client wanted to bring together the marketeers in the B2B arena at the single place where they could interact and make buying decisions. The critical part of such a solution was to facilitate information from various B2B industries that visitors could leverage for their partnerships.<a href="#"> read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(document).ready(function(){
  $("#mscale-sub-catg-1").click(function(){
    activeTab('market_research_2');
  });
  $("#mscale-sub-catg-2").click(function(){
    activeTab('finance_2');
  });
  $("#mscale-sub-catg-3").click(function(){
    activeTab('media_2');
  });

  function activeTab(tab){
    $('#myTab1 a[href="#' + tab + '"]').tab('show');
  };
});
</script>