<div class="nav nav-pills navbar-fixed-top sub-menu">
  <ul class="sub-menu-link">
    <li>
      <a href="#">Use Cases&nbsp;&nbsp;|</a>
      <a href="#">API and API Documentation&nbsp;&nbsp;|</a>
      <a href="#">News&nbsp;&nbsp;|</a>
      <a href="#">Slideshare&nbsp;&nbsp;|</a>
      <a href="#">FAQs&nbsp;&nbsp;|</a>
      <a href="#">How It Works</a>
  </ul>
</div>
