<div class="row box-border use-case">
  <div class="col-md-12">
    <h2>Use Cases</h2>
  <div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 class="category-title">Site-specific crawl and extraction</h3>
    <ul class="category-list">
      <li data-toggle="modal" data-target="#mytab"><a href="#" id="site-sub-catg-1" >Travel</a></li>
      <li data-toggle="modal" data-target="#mytab"><a href="#" id="site-sub-catg-2" >E-Commerce</a></li>
      <li data-toggle="modal" data-target="#mytab"><a href="#" id="site-sub-catg-3" >Real-estate</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 class="category-title">Mass Scale Crawls</h3>
    <ul class="category-list">
      <li data-toggle="modal" data-target="#mytab1"><a href="#" id="mscale-sub-catg-1">Market research</a></li>
      <li data-toggle="modal" data-target="#mytab1"><a href="#" id="mscale-sub-catg-2">Finance</a></li>
      <li data-toggle="modal" data-target="#mytab1"><a href="#" id="mscale-sub-catg-3">Media</a></li>
    </ul>
  </div>
</div>
<div class="row gap-btw-catg">
  <div class="col-md-6">
    <h3 class="category-title">Hosted Indexing</h3>
    <ul class="category-list">
      <li data-toggle="modal" data-target="#mytab4"><a href="#" id="host-sub-catg-1">Media</a></li>
      <li data-toggle="modal" data-target="#mytab4"><a href="#" id="host-sub-catg-2">Classified</a></li>
      <li data-toggle="modal" data-target="#mytab4"><a href="#" id="host-sub-catg-3">Market Research</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 class="category-title">Site-specific crawl and extraction</h3>
    <ul class="category-list">
      <li><a href="#">Travel</a></li>
      <li><a href="#">E-Commerce</a></li>
      <li><a href="#">Real-estate</a></li>
    </ul>
  </div>
</div>

<%= render :partial => "site_specific_crawl" %>
<%= render :partial => "mass_scale_crawls" %>
<%= render :partial => "hosted_indexing" %>


