<div class="row box-border use-case">
  <div class="col-md-12">
    <h2>Use cases</h2>
  <div>
</div>
<div class="row box-border">
  <div class="col-md-6 box-border">
    <p class="category-title">Site-specific crawl and extraction</p>
  </div>
  <div class="col-md-6 box-border">
    <p class="category-title">Site-specific crawl and extraction</p>
  </div>
<div>
<div class="row box-border">
  <div class="col-md-6 box-border">
    <p class="category-title">Site-specific crawl and extraction</p>
  </div>
  <div class="col-md-6 box-border">
    <p class="category-title">Site-specific crawl and extraction</p>
  </div>
</div>
