.menu-tabs {
  padding: 45px 0 0 200px;
  background-image: url{menu-arrow.png};
}

.menu-tabs .nav-pills >li >a{
  font-family: Arial;
  background-image: url('menu-arrow.png');
  background-repeat: no-repeat;
  background-position: right;
}

#menu {
  position: relative;
  float: right;
  width: 292px;
}

.box-border{  border-style:solid;
  border-width:1px;
  color:#2f2f2f;
}

.use-case{
  margin:130px 30px 30px;
  width:100%;
  min-height:400px;
}
.use-case .col-md-12 h2 {
  margin:10px 0;
  padding:0px 5px;
  font-size:27px;
}

.category-title{
  padding:20px 1px 15px 25px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial;
  color: #999999;
}

.col-md-6 .category-list >li {
  background-image: url('arrow-bullet.png');
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  padding-left: 25px;
  padding-right:15px;
  margin: 15px 0px 10px 50px;
  width:200px;
  display: block;
}
.col-md-6 .category-list >li > a { color:#606060;}
.col-md-6 .category-list >li > a:hover{ color:#1AA1D1;}

.col-md-6 >ul > li{
  font-size: 12px;
  font-style: italic;
  color: #2f2f2f; 
}

.gap-btw-catg { margin-top:40px;}

.tab-data {}
.tab-data h3 {
  font-weight: bold;
  font-size: 15px;
  padding-bottom:10px;
}
.brd-btm {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.tab-data a {
  color:#1AA3D2;
  
} 
.tab-data p { font-size: 12px;color:#666;line-height:22px;}
.tab-data strong {font-weight: normal;color:#333;}
.popup-close{
  float: right;
  margin-right: -15px;
  margin-top: -30px;
}
.filter-info {
margin-left: -30px;
padding-bottom: 10px;
color: #666;
font-size: 12px;
}
.tabs-dec {color:#000000;font-weight:bold;}