.menu-tabs {
  padding: 45px 0 0 200px;
  background-image: url{menu-arrow.png};
}

.nav-pills >li >a{
  font-family: Arial;
  background-image: url('menu-arrow.png');
  background-repeat: no-repeat;
  background-position: right;
}

#menu {
  position: relative;
  float: right;
  width: 292px;
}
